@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-nunito: var(--font-nunito);
  --font-sansation: var(--font-sansation);

  --color-lightBlue: #59C0C9;

  --color-green-50: #F7FDF7;
  --color-green-100: #DEF7E2;
  --color-green-200: #CAF2D2;
  --color-green-300: hsl(120, 65%, 80%);
  --color-green-400: hsl(124, 74%, 59%);
  --color-green-500: hsl(127, 76%, 30%);
  --color-green-600: hsl(135, 77%, 25%);
  --color-green-700: hsl(130, 75%, 21%);
  --color-green-800: hsl(118, 61%, 12%);
  --color-green-900: #0A1F09;
  --color-green-950: #061406;

  --tracking-2: -2%;
  --tracking-4: -4%;
}

body {
  background: var(--color-green-50);
  color: var(--color-green-950);
  font-family: var(--font-nunito), system-ui, -apple-system, BlinkMacSystemFont, Ubuntu, Cantarell, sans-serif;
  letter-spacing: -2%;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

@utility login-button {
  width: 100%;
  padding: 8px;
  border-width: 1px 1px 3px;
  border-style: solid;
  border-color: var(--color-green-950);
  border-bottom-color: var(--color-green-800);
  border-radius: 16px;

  @variant sm {
    font-size: 24px;
  }
  font-size: 22px;
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

}
.login-button.slack {
  padding-right: 24px;
}

@utility opacityTransition {
  opacity: 0%;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}
.opacityTransition.open {
  visibility: visible;
  opacity: 100%;
}
.opacityTransition.open.half {
  opacity: 50%;
}

@utility textBgTransition {
  transition-property: color background-color border;
  transition-duration: .3s;
}

@utility optional-label {
  color: var(--color-gray-400);
  font-size: 16px;
  font-style: italic;
  margin-left: 4px;
}

@utility tabs-label {
  margin-bottom: 8px;
}
@utility tabs-input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid var(--color-gray-300);
  border-radius: 8px;
  @variant focus {
    border-color: var(--color-green-300);
  }
}
@utility tabs-icon {
  right: 8px;
}