@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-nunito: var(--font-nunito);
  --font-sansation: var(--font-sansation);

  --color-lightBlue: #59C0C9;

  --color-green-50: #F7FDF7;
  --color-green-100: #DEF7E2;
  --color-green-200: #CAF2D2;
  --color-green-300: #ABEDAB;
  --color-green-500: #12871F;
  --color-green-600: hsl(135, 77%, 25%);
  --color-green-700: hsl(130, 75%, 21%);
  --color-green-800: hsl(118, 61%, 12%);
  --color-green-900: #0A1F09;
  --color-green-950: #061406;

  --tracking-2: -2%;
  --tracking-4: -4%;
}

body {
  background: var(--color-green-50);
  color: var(--color-green-950);
  font-family: var(--font-nunito), system-ui, -apple-system, BlinkMacSystemFont, Ubuntu, Cantarell, sans-serif;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

@utility login-button {
  width: 100%;
  padding: 8px;
  border-width: 1px 1px 3px;
  border-style: solid;
  border-color: var(--color-green-950);
  border-bottom-color: var(--color-green-800);
  border-radius: 16px;

  font-size: 24px;
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.login-button.slack {
  padding-right: 24px;
}