@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-nunito: var(--font-nunito);
  --font-sansation: var(--font-sansation);

  --color-green-50: #F7FDF7;
  --color-green-100: #DEF7E2;
  --color-green-200: #CAF2D2;
  --color-green-300: #ABEDAB;
  --color-green-500: #12871F;
  --color-green-600: #0F7127;
  --color-green-800: #0D310C;
  --color-green-900: #0A1F09;
  --color-green-950: #061406;
}

body {
  background: var(--color-green-50);
  color: var(--color-green-950);
}

@utility login-button {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--color-green-950);
  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}